:root{
  --main-color:#E5E5E5;
  --secondary-color:#034833;
  --third-color:#83CD20;
  --fourth-color:white;
  --fifth-color:#727272;
  --six-color:#E3DBD8;
  --stroke-color:#E3DBD8;
  --seven-color:#F1F5EB
}